.tasksContainer {
    padding: 60px 85px;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding-top: 50px;
    height: 100vh;
}

.tasksContainer h2 {
    margin-bottom: 4rem;
}

.tasksContainer h3 {
    font-size: 18px;
}

.lastTasks {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    overflow-y: hidden;
}
    

.completedTasks {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.tasksList{
    margin-top: 28px;
    overflow-y: scroll;
}


.tasksList div {
    padding: 8px 0px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: linear-gradient(
        262.71deg,
        #00d1ff -30.04%,
        #00ffa3 124.74%
    );
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}