.tasksContainer {
    padding: 60px 85px;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding-top: 50px;
    height: 100vh;
}

.tasksContainer h2 {
    margin-bottom: 4rem;
}

.tasksContainer h3 {
    font-size: 18px;
}

.lastTasks {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.completedTasks {
    flex: 1;
}

.tasksList{
    margin-top: 28px;
}

.tasksList div {
    padding: 8px 0px;
}